Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentPPDirectives: None
NamespaceIndentation: None
ColumnLimit: 120
BreakBeforeBraces: Attach
InsertBraces: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
ReflowComments: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
SortIncludes: false
MaxEmptyLinesToKeep: 1
